@import './common';

// utils styles
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/misc';
@import './utils/btn';
@import './utils/cardset';

// base styles
@import './base/base';
@import './base/reset';

// components styles
@import './components/section';
@import './components/container';

@import './components/header';
@import './components/hero';
@import './components/logo';
@import './components/mobile-menu';
@import './components/scroll-off';
@import './components/products';
@import './components/about';
@import './components/advantages';
@import './components/gallery';
@import './components/customer-reviews';
@import './components/contacts';
@import './components/footer';
@import './components/modal';
@import './components/hero-header-modal';
@import './components/ingredients-modal';
