<section class="production section" id="process">
    <div class="production__container container">
        <p class="uppertitle">tradition and love</p>
        <h2 class="production__title">How it's made?</h2>
        <div class="production__content">
            <div class="production__thumb">
                <picture>
                    <source srcset="./images/how-its-made/cow-desktop.webp 1x, ./images/how-its-made/cow-desktop@2x.webp 2x" 
                    media="(min-width: 1200px)" type="image/webp">
                    <source srcset="./images/how-its-made/cow-desktop.jpg 1x, ./images/how-its-made/cow-desktop@2x.jpg 2x" 
                    media="(min-width: 1200px)">
                    <source srcset="./images/how-its-made/cow-tablet.webp 1x, ./images/how-its-made/cow-tablet@2x.webp 2x"
                    media="(min-width: 768px)" type="image/webp">
                    <source srcset="./images/how-its-made/cow-tablet.jpg 1x, ./images/how-its-made/cow-tablet@2x.jpg 2x"
                    media="(min-width: 768px)">
                    <source srcset="./images/how-its-made/cow-phone.webp 1x, ./images/how-its-made/cow-phone@2x.webp 2x"
                    media="(max-width: 767px)" type="image/webp">
                    <source srcset="./images/how-its-made/cow-phone.jpg 1x, ./images/how-its-made/cow-phone@2x.jpg 2x"
                    media="(max-width: 767px)">
                    <img  class="production__image" src="./images/how-its-made/cow-phone.jpg" alt="Cow" loading="lazy">
                </picture> 
            </div>
            <div class="production__box">
                <p class="production__text">Ice is a place where you will become not only a little happier, but also healthier.
                    Health is the main value for us, and we follow it when creating our handmade desserts.</p>
                <p class="production__information">We use traditional recipes and 100% natural ingredients. Our products are so natural that
                    they can be given to children from the age of three years. Sweets lovers can expect 55
                    types of ice cream, 15 types of coffee and 23 milkshakes.</p>
                <p class="production__paragraph">This is enough to choose ice cream and
                    coffee for any mood!</p>
                <button class="production__btn js-open-modal" data-modal="3" type="button">
                    Read more
                    <svg class="production__arrow" width="6" height="10">
                        <use href="./images/icons.svg#icon-arrow-short"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>