<section class="production section">
    <div class="production__container container">
        <p class="uppertitle">tradition and love</p>
        <h2 class="production__title">How it's made?</h2>
        <div class="production__thumb">
            <img class="production__image" srcset="" alt="" width="">
        </div>
        <div class="production__box">
            <p class="production__text">Ice is a place where you will become not only a little happier, but also healthier. 
                Health is the main value for us, and we follow it when creating our handmade desserts. </p>
            <p class="production__information">We use traditional recipes and 100% natural ingredients. Our products are so natural that 
                they can be given to children from the age of three years. Sweets lovers can expect 55 
                types of ice cream, 15 types of coffee and 23 milkshakes. </p>
            <p class="production__paragraph">This is enough to choose ice cream and 
                coffee for any mood!</p>   
            <button class="production__button" type="button">
                Read more
                <svg class="production__arrow" width="6px" height="10px">
                    <use href="../images/icons.svg#icon-arrow-short"></use>
                </svg>
            </button>
        </div>
        
    </div>
</section>