<section class="section-contacts section">
  <div class="container">
    <h2 class="visually-hidden">List contacts</h2>
    <ul class="list-contacts">
      <li class="list-contacts__item">
        <p class="list-contacts__category contacts__text">Cafe</p>
        <div class="container__body">
          <address class="list-contacts__address address">
            <p class="list-contacts__text contacts__text">Chicago</p>
            <a
              href="https://goo.gl/maps/9nxFqXFzJe8r1fqKA"
              class="address__link contacts__text"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </address>
        </div>
        <div class="container__body">
          <ul class="list-schedule">
            <li class="list-schedule__item list-contacts__text contacts__text">
              <p class="">Monday - Friday</p>
              <time datetime="06:00" class="list-contacts__text--grey"
                >06:00 AM -</time
              >
              <time
                datetime="10:00"
                class="list-contacts__text list-contacts__text--grey contacts__text"
                >10:00 PM</time
              >
            </li>
            <li class="list-schedule__item list-contacts__text contacts__text">
              <p>Saturday - Sunday</p>
              <time datetime="08:00" class="list-contacts__text--grey"
                >08:00 AM -</time
              >
              <time datetime="16:00" class="list-contacts__text--grey"
                >16:00 PM</time
              >
            </li>
          </ul>
        </div>
        <div class="container__body">
          <ul class="contacts">
            <li>
              <a href="tel:+610383766284" class="contacts__link contacts__text"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a
                href="mailto:noreply@envato.com"
                class="contacts__link contacts__text"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>

      <li class="list-contacts__item">
        <div class="container__body">
          <p class="list-contacts__category contacts__text">Foodtruck</p>
          <address class="list-contacts__address address">
            <p class="list-contacts__text contacts__text">Los Angeles</p>
            <a
              href="https://goo.gl/maps/3U7hPNaftPkiCbnr7"
              class="address__link contacts__text"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </address>
        </div>
        <div class="container__body">
          <ul class="list-schedule">
            <li class="list-schedule__item list-contacts__text contacts__text">
              <p>Monday - Friday</p>
              <time datetime="06:00" class="list-contacts__text--grey"
                >06:00 AM -</time
              >
              <time datetime="10:00" class="list-contacts__text--grey"
                >10:00 PM</time
              >
            </li>
            <li class="list-schedule__item list-contacts__text contacts__text">
              <p>Saturday - Sunday</p>
              <time datetime="08:00" class="list-contacts__text--grey"
                >08:00 AM -</time
              >
              <time datetime="16:00" class="list-contacts__text--grey"
                >16:00 PM</time
              >
            </li>
          </ul>
        </div>
        <div class="container__body">
          <ul class="contacts">
            <li>
              <a href="tel:+610383766284" class="contacts__link contacts__text"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a
                href="mailto:noreply@envato.com"
                class="contacts__link contacts__text"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="list-contacts__item">
        <div class="container__body">
          <p class="list-contacts__category contacts__text">Cafe</p>
          <address class="list-contacts__address address">
            <p class="list-contacts__text contacts__text">New York</p>
            <a
              href="https://goo.gl/maps/QW71bePZ14t4cZT7A"
              class="address__link contacts__text"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </address>
        </div>
        <div class="container__body">
          <ul class="list-schedule">
            <li class="list-schedule__item list-contacts__text contacts__text">
              <p>Monday - Friday</p>
              <time datetime="06:00" class="list-contacts__text--grey"
                >06:00 AM -</time
              >
              <time datetime="10:00" class="list-contacts__text--grey"
                >10:00 PM</time
              >
            </li>
            <li class="list-schedule__item list-contacts__text contacts__text">
              <p>Saturday - Sunday</p>
              <time datetime="08:00" class="list-contacts__text--grey"
                >08:00 AM -</time
              >
              <time datetime="16:00" class="list-contacts__text--grey"
                >16:00 PM</time
              >
            </li>
          </ul>
        </div>
        <div class="container__body">
          <ul class="contacts">
            <li>
              <a href="tel:+610383766284" class="contacts__link contacts__text"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a
                href="mailto:noreply@envato.com"
                class="contacts__link contacts__text"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="button-contacts">
      <li>
        <button
          type="button"
          class="button-location js-open-modal"
          data-modal="2"
        >
          Our Locations
          <svg class="" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow-short"></use>
          </svg>
        </button>
      </li>
      <li>
        <button
          type="button"
          class="button-franchise js-open-modal"
          data-modal="1"
        >
          Franchise
          <svg class="" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow-short"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
