<section class="customer section" id="customer">
  <div class="container customer-container">
    <h2 class="visually-hidden">Customer</h2>
    <div class="swiper">
      <ul class="swiper-wrapper list">
        <li class="swiper-slide active">
          <img
            class="swiper-slide__img"
            srcset="
              ./images/customers/c1.jpg    1x,
              ./images/customers/c1@2x.jpg 2x
            "
            src="./images/customers/c1.jpg"
            alt="customer photo"
            width="85"
            height="85"
          />
          <div class="swiper-slide__wrapper">
            <p class="swiper-slide__text">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <h3 class="swiper-slide__title">Emily, Los Angeles</h3>
        </li>
        <li class="swiper-slide">
          <img
            class="swiper-slide__img"
            srcset="
              ./images/customers/c2.jpg    1x,
              ./images/customers/c2@2x.jpg 2x
            "
            src="./images/customers/c2.jpg"
            alt="customer photo"
            width="85"
            height="85"
          />
          <div class="swiper-slide__wrapper">
            <p class="swiper-slide__text">
              Every day we come to you with friends after classes in college. We
              love your ice cream and casual atmosphere!
            </p>
          </div>
          <h3 class="swiper-slide__title">Bryan, New-York</h3>
        </li>
        <li class="swiper-slide">
          <img
            class="swiper-slide__img"
            srcset="
              ./images/customers/c3.jpg    1x,
              ./images/customers/c3@2x.jpg 2x
            "
            src="./images/customers/c3.jpg"
            alt="customer photo"
            width="85"
            height="85"
          />
          <div class="swiper-slide__wrapper">
            <p class="swiper-slide__text">
              Ice cream is my passion! I love your chocolate hazelnut ice cream!
              And I really like the excellent service - always served politely
              and quickly!
            </p>
          </div>
          <h3 class="swiper-slide__title">Diana, Chicago</h3>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
