<footer class="footer">
  <div class="foot container">
    <div class="foot__slogan">
      <p class="foot__slogan--up">homemade ice cream made</p>
      <p class="foot__slogan--down">with passion</p>
    </div>

    <div class="foot-contacts">
      <ul class="foot-contacts__list">
        <li class="foot-contacts__item">
          <a class="foot-contacts__link" href="https://github.com/" target="_blank">
            <svg class="foot-contacts-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="foot-contacts__item">
          <a class="foot-contacts__link" href="https://web.telegram.org/z/" target="_blank">
            <svg class="foot-contacts-icon" width="20" height="16">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="foot-contacts__item">
          <a class="foot-contacts__link" href="https://www.facebook.com/" target="_blank">
            <svg class="foot-contacts-icon" width="9.5" height="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="foot-contacts__tel">
        Feel free to contact
        <a class="foot-contacts__tel--link" href="tel:+610383766284"
          > +61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>
  <div class="copyright">
    <p class="copyright__text">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
