<div id="slideshow">
    <div class="slide-wrapper">
      <div class="slide">
        <img
        src="../images/slider/sli1-phone.jpg 280w"
        srcset="
                  ../images/slider/sli1-phone.jpg 280w,
                  ../images/slider/sli1-tablet.jpg 327w,
                  ../images/slider/sli1-desktop.jpg 422w,
                  ../images/slider/sli1-phone@2x.jpg 560w,
                  ../images/slider/sli1-tablet@2x.jpg 654w,
                  ../images/slider/sli1-desktop@2x.jpg 844w
                "
                sizes="(min-width: 1200px) 280px, (min-width: 768px) 327px, (min-width: 480px) 422px, 100vw"
                alt="ice cream"
                loading="lazy">
      </div>
      <div class="slide">
        <img src="../images/slider/sli1-phone.jpg 280w"
        srcset="
                  ../images/slider/sli1-phone.jpg 280w,
                  ../images/slider/sli1-tablet.jpg 327w,
                  ../images/slider/sli1-desktop.jpg 422w,
                  ../images/slider/sli1-phone@2x.jpg 560w,
                  ../images/slider/sli1-tablet@2x.jpg 654w,
                  ../images/slider/sli1-desktop@2x.jpg 844w
                "
                sizes="(min-width: 1200px) 280px, (min-width: 768px) 327px, (min-width: 480px) 422px, 100vw"
                alt="ice cream"
                loading="lazy">
      </div>
      <div class="slide">
        <img src="../images/slider/sli1-phone.jpg 280w"
        srcset="
                  ../images/slider/sli1-phone.jpg 280w,
                  ../images/slider/sli1-tablet.jpg 327w,
                  ../images/slider/sli1-desktop.jpg 422w,
                  ../images/slider/sli1-phone@2x.jpg 560w,
                  ../images/slider/sli1-tablet@2x.jpg 654w,
                  ../images/slider/sli1-desktop@2x.jpg 844w
                "
                sizes="(min-width: 1200px) 280px, (min-width: 768px) 327px, (min-width: 480px) 422px, 100vw"
                alt="ice cream"
                loading="lazy">
      </div>

  </div>