<section class="gallery" id="gallery">
  <div class="gallery-container">
    <div class="slide-wrapper">
      <h2 class="visually-hidden">Gallery</h2>



      <div class="slide slide1"></div>
      <div class="slide slide2"></div>
      <div class="slide slide3"></div>
      <div class="slide slide4"></div>



      <!-- <div class="slider">
        <img class="slider__image"
        src="./images/slider/sli1-phone.jpg"
        srcset="
                  ./images/slider/sli1-phone.jpg 280w,
                  ./images/slider/sli1-tablet.jpg 327w,
                  ./images/slider/sli1-desktop.jpg 422w,
                  ./images/slider/sli1-phone@2x.jpg 560w,
                  ./images/slider/sli1-tablet@2x.jpg 654w,
                  ./images/slider/sli1-desktop@2x.jpg 844w
                "
                sizes="(min-width: 1200px) 422px, (min-width: 768px) 327px, (min-width: 480px) 280px, 100vw"
                alt="ice cream"
                loading="lazy">
      </div> -->
      <!--<div class="slide">
        <img src="./images/slider/sli2-phone.jpg"
        srcset="
                  ./images/slider/sli2-phone.jpg 280w,
                  ./images/slider/sli2-tablet.jpg 327w,
                  ./images/slider/sli2-desktop.jpg 422w,
                  ./images/slider/sli2-phone@2x.jpg 560w,
                  ./images/slider/sli2-tablet@2x.jpg 654w,
                  ./images/slider/sli2-desktop@2x.jpg 844w
                "
                sizes="(min-width: 1200px) 280px, (min-width: 768px) 327px, (min-width: 480px) 422px, 100vw"
                alt="ice cream"
                loading="lazy">
      </div>
      <div class="slide">
        <img src="./images/slider/sli3-phone.jpg"
        srcset="
                  ./images/slider/sli3-phone.jpg 280w,
                  ./images/slider/sli3-tablet.jpg 327w,
                  ./images/slider/sli3-desktop.jpg 422w,
                  ./images/slider/sli3-phone@2x.jpg 560w,
                  ./images/slider/sli3-tablet@2x.jpg 654w,
                  ./images/slider/sli3-desktop@2x.jpg 844w
                "
                sizes="(min-width: 1200px) 280px, (min-width: 768px) 327px, (min-width: 480px) 422px, 100vw"
                alt="ice cream"
                loading="lazy">
      </div>-->

		</div>


</div>
</section>