<header class="header">
  <div class="header__container">
    <!-- logo -->
    <a href="" class="logo header__logo">
      <svg class="logo__icon">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <!-- nav -->
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li><a href="" class="header__nav-link">Home</a></li>
        <li><a href="" class="header__nav-link">How it&rsquo;s made?</a></li>
        <li><a href="" class="header__nav-link">Our products</a></li>
        <li><a href="" class="header__nav-link">Contact</a></li>
      </ul>
    </nav>

    <!-- menu open -->
    <button
      class="header__btn-menu"
      aria-expanded="false"
      aria-controls="mobile_menu"
      data-menu-open
    >
      <svg class="header__icon-menu">
        <use class="open" href="./images/icons.svg#icon-menu-open"></use>
      </svg>
    </button>

    <!-- buy now -->
    <button class="header__btn" type="button">
      Buy now
      <svg class="header__btn-icon">
        <use href="./images/icons.svg#icon-arrow-short"></use>
      </svg>
    </button>
  </div>
</header>
