<div class="header_modal">
  <button type="button">
    <svg class="button__close" width="24" height="24">
      <use href="./images/icons.svg#icon-modal-close"></use>
    </svg>
  </button>
  <h2 class="title__font">Buy now</h2>
  <ul class="product__list">
    <li class="product__item">
      <div class="wrapper wrapper--cream">
        <div class="photo__background--cream">
          <!-- <img
            srcset="
              ./images/modal-buy-now/cream.jpg    132w,
              ./images/modal-buy-now/cream@2x.jpg 264w
            "
            sizes="(min-width: 1200px) 264px, (min-width: 468px) 132px, 100vw"
            src="./images/modal-buy-now/cream.jpg"
            alt="cream"
          /> -->
        </div>
        <p class="main-font">Ice cream</p>
      </div>
    </li>
    <li class="product__item">
      <div class="wrapper wrapper--coffee">
        <div class="photo__background--coffee">
          <img />
        </div>
        <p class="main-font">Ice coffee</p>
      </div>
    </li>
    <li class="product__tem">
      <div class="wrapper wrapper--milkshake">
        <div class="photo__background--milkshake">
          <img />
        </div>
        <p class="main-font">milkshake</p>
      </div>
    </li>
  </ul>
</div>
