<div class="backdrop is-hidden">
  <div class="header_modal">
    <button class="button__close" type="button">
      <svg class="button__close-icon" width="11" height="11">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <h2 class="title__font">Buy now</h2>
    <ul class="product__list">
      <li class="product__item product__item-icecream">
        <div class="wrapper wrapper--cream">
          <p class="main-font">Ice cream</p>
        </div>
      </li>
      <li class="product__item product__item-coffee">
        <div class="wrapper wrapper--coffee">
          <p class="main-font">Ice coffee</p>
        </div>
      </li>
      <li class="product__item product__milkshake">
        <div class="wrapper wrapper--milkshake">
          <p class="main-font">milkshake</p>
        </div>
      </li>
    </ul>
    <form name="modal-form">
      <div class="modal-form__group" role="group">
        <label class="modal-form__label" for="user_name">
          <div class="modal-form__wrapper">
            <input
              class="modal-form__field"
              type="text"
              id="user_name"
              name="user_name"
              required
              placeholder="Name"
            />
          </div>
        </label>
        <label class="modal-form__label" for="user_phone">
          <div class="modal-form__wrapper">
            <input
              class="modal-form__field"
              type="tel"
              id="user_phone"
              name="user_phone"
              required
              placeholder="Phone"
            />
          </div>
        </label>
        <label class="modal-form__label" for="user_mail">
          <div class="modal-form__wrapper">
            <textarea
              class="modal-form__field--comment"
              name="comment"
              rows="6"
              placeholder="Comment"
            ></textarea>
          </div>
        </label>
      </div>
    </form>
    <button class="btn" type="submit">Submit</button>
  </div>
</div>
