<div class="modal" data-modal="4">
  <div class="header_modal">
    <button class="button__close--hero js-modal-close" type="button">
      <svg class="button__close-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>

    <h3 class="hero-modal__title hero-modal--distance">Buy now</h3>
    <ul class="hero-modal__list">
      <li class="hero-modal__item hero-modal__item--cream">
        <h3 class="hero-modal__subtitle">ice cream</h3>
      </li>
      <li class="hero-modal__item hero-modal__item--coffee">
        <h3 class="hero-modal__subtitle">ice coffee</h3>
      </li>
      <li class="hero-modal__item hero-modal__item--milkshakes">
        <h3 class="hero-modal__subtitle">milkshake</h3>
      </li>
    </ul>

    <form class="modal__form modal-form-hero__group">
      <div class="modal__group" role="group">
        <label class="modal__label" for="name"></label>
        <div class="wrapper__input">
          <input
            class="input__form"
            type="text"
            name="user_name"
            id="name"
            autofocus
            required
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            title="Name"
            placeholder="Name"
          />
        </div>
      </div>

      <div class="modal__group" role="group">
        <label class="modal__label" for="phone"></label>
        <div class="wrapper__input">
          <input
            class="input__form"
            type="tel"
            name="user_phone"
            id="phone"
            required
            placeholder="Phone"
          />
        </div>
      </div>

      <div class="modal__group modal__comment" role="group">
        <label class="modal__label" for="comment"></label>
        <textarea
          class="comment"
          name="comment"
          id="comment"
          rows="4"
          placeholder="Comment"
        ></textarea>
      </div>
      <button class="btn-sec btn-hero-modal" type="submit">Submit</button>
    </form>
  </div>
</div>

<div class="overlay js-overlay-modal"></div>
