<section class="hero">
  <div class="hero__container">
    <!-- title -->
    <h1 class="hero__title">
      <span class="">ice cream</span>
      <span class="">made with</span>
      <span class="hero__title-accent">passion</span>
    </h1>

    <!-- link buttons -->
    <ul class="hero__btns">
      <li>
        <a class="hero__btn-prods" href="./index.html#products">Products</a>
      </li>
      <li>
        <a class="hero__btn-him" href="./index.html#process"
          >How it&rsquo;s made?</a
        >
      </li>
    </ul>

    <!-- about -->
    <div class="hero__about">
      <p class="hero__about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button class="hero__about-btn" type="button">
        <svg class="hero__about-icon">
          <use href="./images/icons.svg#icon-arrow-long"></use>
        </svg>
      </button>
    </div>

    <!-- meter -->
    <ul class="hero__meter">
      <li><span class="hero__meter-num">16</span> cafes</li>
      <li><span class="hero__meter-num">23</span> food trucks</li>
    </ul>

    <!-- images -->

    <!-- icecream cone -->
    <picture>
      <!-- desktop -->
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/icecream-cone-desktop.png    1x,
          ./images/hero/icecream-cone-desktop@2x.png 2x
        "
      />
      <!-- tablet -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/icecream-cone-tablet.png    1x,
          ./images/hero/icecream-cone-tablet@2x.png 2x
        "
      />
      <!-- phone -->
      <source
        media="(max-width: 767.99px)"
        srcset="
          ./images/hero/icecream-cone-phone.png    1x,
          ./images/hero/icecream-cone-phone@2x.png 2x
        "
      />
      <img
        class="hero__pic-cone"
        src=" ./images/hero/icecream-cone-tablet.png "
        alt="Icecream cone"
        loading="lazy"
      />
    </picture>

    <!-- icecream plate -->
    <picture>
      <!-- desktop -->
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/icecream-plate-desktop.png    1x,
          ./images/hero/icecream-plate-desktop@2x.png 2x
        "
      />
      <!-- tablet -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/icecream-plate-tablet.png    1x,
          ./images/hero/icecream-plate-tablet@2x.png 2x
        "
      />
      <img
        class="hero__pic-plate"
        src=" ./images/hero/icecream-plate-tablet.png "
        alt="Icecream plate"
        loading="lazy"
      />
    </picture>

    <!-- dots -->
    <picture>
      <!-- desktop -->
      <source
        media="(min-width: 1200px)"
        srcset="./images/hero/hero-dots-desktop.svg"
      />
      <!-- tablet -->
      <source
        media="(min-width: 768px)"
        srcset="./images/hero/hero-dots-tablet.svg"
      />
      <!-- phone -->
      <source
        media="(max-width: 767.99px)"
        srcset="./images/hero/hero-dots-mobile.svg"
      />
      <img
        class="hero__pic-dots"
        src=" ./images/hero/hero-dots-tablet.svg "
        alt="Background dots"
        loading="lazy"
      />
    </picture>
  </div>
</section>
