<section class="hero">
  <div class="hero__container">
    <!-- title -->
    <h1 class="hero__title">
      ice cream made with
      <span class="hero__title-accent">passion</span>
    </h1>

    <!-- buttons -->
    <ul class="hero__btns">
      <li>
        <button class="hero__btn-prods" type="button">Products</button>
      </li>
      <li>
        <button class="hero__btn-him" type="button">
          How it&rsquo;s made?
        </button>
      </li>
    </ul>

    <!-- about -->
    <div class="hero__about">
      <p class="hero__about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button class="hero__about-btn" type="button">
        <svg class="hero__about-icon">
          <use href="./images/icons.svg#icon-arrow-long"></use>
        </svg>
      </button>
    </div>

    <!-- meter -->
    <ul class="hero__meter">
      <li><span class="hero__meter-num">16</span> cafes</li>
      <li><span class="hero__meter-num">23</span> food trucks</li>
    </ul>
  </div>
</section>
