<div class="modal" data-modal="5">
  <div class="ingredients">
    <button class="button__close--hero js-modal-close" type="button">
      <svg width="20" height="20">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <h3 class="ingredients__title">Chocolate icecream</h3>
    <div class="Ingredients__illustration green">
      <img
        class="Ingredients__image"
        src="./images/Ellipse67.png"
        srcset="./images/Ellipse67.png 132w, ./images/Ellipse67@2x.png 264w"
        sizes="(min-width: 1200px) 132px, (max-width: 1199px) 132px"
        alt="ice-cream"
      />
    </div>
    <ul class="calories">
      <li class="calories__item calories__item--green">
        <span class="calories__weight calories-green">320</span>kcal
      </li>
      <li class="calories__item calories__item--green">
        <span class="calories__weight calories-green">4g</span>Protein...
      </li>
      <li class="calories__item calories__item--green">
        <span class="calories__weight calories-green">8,2g </span>Fats
      </li>
      <li class="calories__item calories__item--green">
        <span class="calories__weight calories-green">40,4g </span>Carbs
      </li>
    </ul>
    <h4 class="ingredients__dscr">Ingredients</h4>
    <div class="ingredients-list">
      <ul class="ingredients-list__product">
        <li class="ingredients-list__item">Milk</li>
        <li class="ingredients-list__item">Belgian chocolate</li>
        <li class="ingredients-list__item">Cream</li>
        <li class="ingredients-list__item">Cocoa powder</li>
        <li class="ingredients-list__item">Sugar</li>
        <li class="ingredients-list__item">Vanilla sugar</li>
      </ul>
      <ul class="ingredients-list__weight">
        <li class="ingredients-list__item">100ml</li>
        <li class="ingredients-list__item">20g</li>
        <li class="ingredients-list__item">150 ml</li>
        <li class="ingredients-list__item">30g</li>
        <li class="ingredients-list__item">40g</li>
        <li class="ingredients-list__item">10g</li>
      </ul>
    </div>

    <!-- Форма -->

    <form class="modal__form modal-form-product__group">
      <div class="modal__group" role="group">
        <label class="modal__label" for="name"></label>
        <div class="wrapper__input">
          <input
            class="input__form"
            type="text"
            name="user_name"
            id="name"
            autofocus
            required
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            title="Name"
            placeholder="Name"
          />
        </div>
      </div>

      <div class="modal__group" role="group">
        <label class="modal__label" for="phone"></label>
        <div class="wrapper__input">
          <input
            class="input__form"
            type="tel"
            name="user_phone"
            id="phone"
            required
            placeholder="Phone"
          />
        </div>
      </div>

      <div class="modal__group modal__comment" role="group">
        <label class="modal__label" for="comment"></label>
        <textarea
          class="comment"
          name="comment"
          id="comment"
          rows="4"
          placeholder="Comment"
        ></textarea>
      </div>
      <button class="btn-sec button_ingridients" type="submit">Submit</button>
    </form>
  </div>
</div>
