<!-- Ice cream modal -->
<div class="backdrop is-hidden">
  <div class="icecream">
    <button type="button">
      <svg class="button__close" width="24" height="24">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <h2 class="title__font">Chocolate ice cream</h2>
    <div class="photo__background--cream">
      <img
        srcset="
          ./images/modal-about/about1.jpg    132w,
          ./images/modal-about/about1@2x.jpg 264w
        "
        sizes="(min-width: 1200px) 132px, (min-width: 468px) 200px, 100vw"
        src="./images/modal-about/about1.jpg"
        alt="cream"
      />
    </div>
    <ul class="nutritions__list">
      <li class="nutritions__item">
        <div class="nutritions__wrapper">
          <div class="value__wrapper">
            <p class="value">320</p>
          </div>
          <p class="characteristics">kcal</p>
        </div>
      </li>
      <li class="nutritions__item">
        <div class="nutritions__wrapper">
          <div class="value__wrapper">
            <p class="value">4g</p>
          </div>
          <p class="characteristics">Protein</p>
        </div>
      </li>
      <li class="nutritions__item">
        <div class="nutritions__wrapper">
          <div class="value__wrapper">
            <p class="value">8,2g</p>
          </div>
          <p class="characteristics">Fats</p>
        </div>
      </li>
      <li class="nutritions__item">
        <div class="nutritions__wrapper">
          <div class="value__wrapper">
            <p class="value">40,4g</p>
          </div>
          <p class="characteristics">Carbs</p>
        </div>
      </li>
    </ul>

    <p class="ingredients">Ingredients</p>
    <div class="ingredients-wrapper">
      <ul class="ingredients__list--name">
        <li class="ingredients__items">Milk</li>
        <li class="ingredients__items">Belgian chocolate</li>
        <li class="ingredients__items">Cream</li>
        <li class="ingredients__items">Cocoa powder</li>
        <li class="ingredients__items">Sugar</li>
        <li class="ingredients__items">Vanilla sugar</li>
      </ul>
      <ul class="ingredients__list--quantity">
        <li class="ingredients__items">100ml</li>
        <li class="ingredients__items">20g</li>
        <li class="ingredients__items">150 ml</li>
        <li class="ingredients__items">30g</li>
        <li class="ingredients__items">40g</li>
        <li class="ingredients__items">10g</li>
      </ul>
    </div>
    <form name="modal-form">
      <div class="modal-form__group" role="group">
        <label class="modal-form__label" for="user_name">
          <div class="modal-form__wrapper">
            <input
              class="modal-form__field"
              type="text"
              id="user_name"
              name="user_name"
              required
              placeholder="Name"
            />
          </div>
        </label>
        <label class="modal-form__label" for="user_phone">
          <div class="modal-form__wrapper">
            <input
              class="modal-form__field"
              type="tel"
              id="user_phone"
              name="user_phone"
              required
              placeholder="Phone"
            />
          </div>
        </label>
        <label class="modal-form__label" for="user_mail">
          <div class="modal-form__wrapper">
            <input
              class="modal-form__field"
              type="email"
              id="user_mail"
              name="user_mail"
              required
              placeholder="Comment"
            />
          </div>
        </label>
      </div>
    </form>
    <button class="btn-prim" type="submit">submit</button>
  </div>
</div>

<!-- Coffee modal -->
<div class="backdrop is-hidden">
  <div class="Ice-coffee">
    <button type="button">
      <svg class="button__close" width="24" height="24">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <h2 class="title__font">Ice coffee</h2>
    <div class="photo__background--Ice-coffee">
      <img
        srcset="
          ./images/modal-about/about1.jpg    132w,
          ./images/modal-about/about1@2x.jpg 264w
        "
        sizes="(min-width: 1200px) 132px, (min-width: 468px) 200px, 100vw"
        src="./images/modal-about/about1.jpg"
        alt="icecream"
      />
    </div>
    <ul class="nutritions__list">
      <li class="nutritions__item">
        <div class="nutritions__wrapper">
          <div class="value__wrapper">
            <p class="value">320</p>
          </div>
          <p class="characteristics">kcal</p>
        </div>
      </li>
      <li class="nutritions__item">
        <div class="nutritions__wrapper">
          <div class="value__wrapper">
            <p class="value">4g</p>
          </div>
          <p class="characteristics">Protein</p>
        </div>
      </li>
      <li class="nutritions__item">
        <div class="nutritions__wrapper">
          <div class="value__wrapper">
            <p class="value">8,2g</p>
          </div>
          <p class="characteristics">Fats</p>
        </div>
      </li>
      <li class="nutritions__item">
        <div class="nutritions__wrapper">
          <div class="value__wrapper">
            <p class="value">40,4g</p>
          </div>
          <p class="characteristics">Carbs</p>
        </div>
      </li>
    </ul>
    <p class="ingredients">Ingredients</p>
    <div class="ingredients-wrapper">
      <ul class="ingredients__list--name">
        <li class="ingredients__items">Milk</li>
        <li class="ingredients__items">Belgian chocolate</li>
        <li class="ingredients__items">Cream</li>
        <li class="ingredients__items">Cocoa powder</li>
        <li class="ingredients__items">Sugar</li>
        <li class="ingredients__items">Vanilla sugar</li>
      </ul>
      <ul class="ingredients__list--quantity">
        <li class="ingredients__items">100ml</li>
        <li class="ingredients__items">20g</li>
        <li class="ingredients__items">150 ml</li>
        <li class="ingredients__items">30g</li>
        <li class="ingredients__items">40g</li>
        <li class="ingredients__items">10g</li>
      </ul>
    </div>
    <form name="modal-form">
      <div class="modal-form__group" role="group">
        <label class="modal-form__label" for="user_name">
          <div class="modal-form__wrapper">
            <input
              class="modal-form__field"
              type="text"
              id="user_name"
              name="user_name"
              required
              placeholder="Name"
            />
          </div>
        </label>
        <label class="modal-form__label" for="user_phone">
          <div class="modal-form__wrapper">
            <input
              class="modal-form__field"
              type="tel"
              id="user_phone"
              name="user_phone"
              required
              placeholder="Phone"
            />
          </div>
        </label>
        <label class="modal-form__label" for="user_mail">
          <div class="modal-form__wrapper">
            <input
              class="modal-form__field"
              type="email"
              id="user_mail"
              name="user_mail"
              required
              placeholder="Comment"
            />
          </div>
        </label>
      </div>
    </form>
    <button class="btn-prim" type="submit">submit</button>
  </div>
</div>
<!-- Milkshake modal -->
<div class="backdrop is-hidden">
  <div class="milkshake">
    <button type="button">
      <svg class="button__close" width="24" height="24">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <h2 class="title__font">milkshakes</h2>
    <div class="photo__background--milkshakes">
      <img
        srcset="
          ./images/modal-about/about1.jpg    132w,
          ./images/modal-about/about1@2x.jpg 264w
        "
        sizes="(min-width: 1200px) 132px, (min-width: 468px) 132px, 100vw"
        src="./images/modal-about/about1.jpg"
        alt="milkshake"
      />
    </div>
    <ul class="nutritions__list">
      <li class="nutritions__item">
        <div class="nutritions__wrapper">
          <div class="value__wrapper">
            <p class="value">320</p>
          </div>
          <p class="characteristics">kcal</p>
        </div>
      </li>
      <li class="nutritions__item">
        <div class="nutritions__wrapper">
          <div class="value__wrapper">
            <p class="value">4g</p>
          </div>
          <p class="characteristics">Protein</p>
        </div>
      </li>
      <li class="nutritions__item">
        <div class="nutritions__wrapper">
          <div class="value__wrapper">
            <p class="value">8,2g</p>
          </div>
          <p class="characteristics">Fats</p>
        </div>
      </li>
      <li class="nutritions__item">
        <div class="nutritions__wrapper">
          <div class="value__wrapper">
            <p class="value">40,4g</p>
          </div>
          <p class="characteristics">Carbs</p>
        </div>
      </li>
    </ul>
    <p class="ingredients">Ingredients</p>
    <div class="ingredients-wrapper">
      <ul class="ingredients__list--name">
        <li class="ingredients__items">Milk</li>
        <li class="ingredients__items">Belgian chocolate</li>
        <li class="ingredients__items">Cream</li>
        <li class="ingredients__items">Cocoa powder</li>
        <li class="ingredients__items">Sugar</li>
        <li class="ingredients__items">Vanilla sugar</li>
      </ul>
      <ul class="ingredients__list--quantity">
        <li class="ingredients__items">100ml</li>
        <li class="ingredients__items">20g</li>
        <li class="ingredients__items">150 ml</li>
        <li class="ingredients__items">30g</li>
        <li class="ingredients__items">40g</li>
        <li class="ingredients__items">10g</li>
      </ul>
    </div>
    <form name="modal-form">
      <div class="modal-form__group" role="group">
        <label class="modal-form__label" for="user_name">
          <div class="modal-form__wrapper">
            <input
              class="modal-form__field"
              type="text"
              id="user_name"
              name="user_name"
              required
              placeholder="Name"
            />
          </div>
        </label>
        <label class="modal-form__label" for="user_phone">
          <div class="modal-form__wrapper">
            <input
              class="modal-form__field"
              type="tel"
              id="user_phone"
              name="user_phone"
              required
              placeholder="Phone"
            />
          </div>
        </label>
        <label class="modal-form__label" for="user_mail">
          <div class="modal-form__wrapper">
            <input
              class="modal-form__field"
              type="email"
              id="user_mail"
              name="user_mail"
              required
              placeholder="Comment"
            />
          </div>
        </label>
      </div>
    </form>
    <button class="btn-prim" type="submit">submit</button>
  </div>
</div>
