  .advantages {
	background-color: #84A178;
 }

//  .advantages__container {

//  } 

 .advantages__list {
	@include cardset(1, 22px);

 	@media screen and (min-width: 768px) {
		@include cardset(3, 80px);
 	}

			 	@media screen and (min-width: 1200px) {
			 		@include cardset(3, 32px);
			 	}
 }

 .advantages__item {
 	display: flex;
 	flex-direction: column;
 	width: 368px;
 }

 .advantages__accent::before {
  	content: ' ' ;
			width: 50px;
				height: 50px;
				// background-color: #F8D24E;
				// 	border-radius: 50%;
		// fill: tomato;

		// url(./images/icons.svg#icon-cow)
 }

// .advantages-icon {
// 	width: 50px;
// 	height: 50px;
// 	background-color: #F8D24E;
// 	border-radius: 50%;
// }


// .icon-cow{
// 	fill: #F8D24E;
// }


 .advantages__accent {
 	font-family: 'Montserrat';
 	font-style: normal;
 	font-weight: 700;
 	font-size: 58px;
 	line-height: 71px;

 	text-align: center;
 	letter-spacing: 0.04em;
 	text-transform: uppercase;

 	color: #FCFCFC;
 }

 .advantages__text {
 	font-family: 'Montserrat';
 	font-style: normal;
 	font-weight: 400;
 	font-size: 16px;
 	line-height: 176%;

 	text-align: center;
 	letter-spacing: 0.02em;

 	color: #FCFCFC;
 }