.contacts__text{
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.04em;
}
.list-contacts{
    @media screen and (min-width:768px) {
        display: flex;
    }
}
.list-contacts__item {
    padding: 40px 32px 24px;

    background-color: #FCFCFC;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
}
.list-contacts__category {
    display: inline-block;
    background-color: #F8D24E;
    border-radius: 4px;
    padding: 4px 22px;
    
    text-transform: uppercase;
    line-height: 120%;
    
    color: #131313;
}
.list-contacts__address{
    font-style: normal;
}
.list-contacts__text{
    line-height: 186%;
    color: #131313;

    &--grey{
        color: #ABABAB;
    }
}
.address__link{
    line-height: 183%;
    color: #D6936D;
}
.contacts__link{
    line-height: 160%;
    color: #131313;
}
