.section-contacts{
    background-image: linear-gradient(
        #84a17800 25%,$colorBackground 25%);
			@media screen and (max-width:767.98px) {
					padding-top: 20px;
				}
                         @media screen and (min-width: 768px) {
                                    padding-top: 40px;
                        }
                
                                @media screen and (min-width: 1200px) {
                                    padding-top: 50px;
                                }
}
.contacts__text{
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 8px;

    @media screen and (min-width:768px){
        font-size: $mainFontSize;
    }
        @media screen and (min-width:1200px) {
            font-size: 16px;
        }
}
.container__body:not(:last-child){
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 24px;

    @media screen and (min-width:768px){
        margin-bottom: 32px;
    }
}
.list-contacts{

						@include cardset(1, 16px);
    @media screen and (min-width:768px) {
         @include cardset(3, 16px);
    }
				 @media screen and (min-width:1200px) {
				 	@include cardset(3, 32px);
				 }
}

.list-contacts__item {
    padding: 40px 24px;
    // margin-bottom: 16px;

    background-color: $colorText;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
}
.list-contacts__category {
    display: inline-block;
    margin-bottom: 20px;

    background-color: $colorYellow;
    border-radius: 4px;
    padding: 4px 22px;
    
    text-transform: uppercase;
    line-height: 120%;

    @media screen and (min-width:768px){
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 140%;
    }

}
.list-contacts__address{
    margin-bottom: 24px;
    font-style: normal;

    @media screen and (min-width:1200px) {
            margin-bottom: 32px;
        }
}
.list-schedule{
    margin-bottom: 24px;

    @media screen and (min-width:1200px) {
            margin-bottom: 32px;
        }
}
.list-schedule__item:not(:last-child){
    @media screen and (min-width:1200px) {
        margin-bottom: 12px;
    }
   
}
.list-contacts__text{
    line-height: 186%;

    &--grey{
        color: $colorBtnDisabled;
    }
}
.address__link{
    line-height: 183%;
    color: $colorProduktsCoffeeMilkshakes;

    @extend %link;

    &:hover{
        text-decoration: underline;
    }
}

.contacts__link{
    line-height: 160%;
    color: #131313;

    @extend %link;
}
.button-contacts{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    @media screen and (max-width:767.98px) {
        flex-direction: column;
    }

				margin-top: 20px;
		    @media screen and (min-width: 768px) {
		    	margin-top: 40px;
		    }
								@media screen and (min-width: 1200px) {
									margin-top: 60px;
								}
}
.button-location{
    @include btn-prim('long');
}
.button-franchise{
    @include btn-sec('long');
}
