.list-contacts__item {
    background: #FCFCFC;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
}
.list-contacts__category {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #131313;
}
