.hero {
  margin: 0 auto;
  padding-top: 100px;
  height: 502px;

  background-color: $colorBackground;

  @media screen and (min-width: 320px) {
    min-width: 320px;
    //max-width: 320px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 83px;
    min-width: 768px;
    //max-width: 768px;
    height: 415px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    //max-width: 1200px;
    min-width: 1200px;
    height: 664px;
  }
}

///////////////////////
// bgi compos
///////////////////////

.hero__container {
  @extend .container;

  position: relative;
  height: 100%;

  overflow: hidden;
}

///////////////////////
// title
///////////////////////

.hero__title {
  width: 247px;

  font-family: 'Seymour One';
  font-size: 26px;
  line-height: calc(33 / 26);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $colorText;

  animation: left-to-right 0.65s ease 0s both;

  &-accent {
    @media screen and (max-width: 1199.98px) {
      font-size: 34px;
      line-height: calc(33 / 34);
    }
  }

  @media screen and (min-width: 1200px) {
    width: 367px;
    font-size: 38px;
    line-height: calc(48 / 38);

    animation: left-to-right 0.65s ease 0.3s both;
  }
}

///////////////////////
// buttons
///////////////////////

.hero__btns {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 32px;

  @media screen and (min-width: 768px) {
    margin-top: 24px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 28px;
  }
}

.hero {
  &__btn-prods {
    @include btn-sec('mobile');

    @media screen and (min-width: 1200px) {
      @include btn-sec();
    }
  }
}

.hero {
  &__btn-him {
    @include btn-tert('mobile');

    @media screen and (min-width: 1200px) {
      @include btn-tert();
    }
  }
}

///////////////////////
// about
///////////////////////

.hero__about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  margin-left: 190px;
  margin-top: 39px;
  width: 150px;

  font-size: 12px;
  line-height: calc(17 / 12);
  color: $colorText;

  @media screen and (min-width: 768px) {
    animation: bottom-to-top 0.5s ease 0.6s both;
  }

  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    gap: 24px;
    margin-left: 247px;
    margin-top: 109px;
    height: 120px;
    width: 220px;

    font-size: 14px;
    line-height: calc(20 / 14);

    animation: bottom-to-top 0.5s ease 0.75s both;
  }

  &-btn {
    @extend %btn;
    color: $colorText;

    &:hover,
    &:focus-visible {
      color: $colorBlack;
    }
  }

  &-icon {
    width: 40px;
    height: 16px;
    fill: currentColor;
  }
}

///////////////////////
// meter
///////////////////////

.hero__meter {
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  position: absolute;
  top: 14px;
  right: 32px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 8px;
  line-height: calc(10 / 8);
  text-align: right;
  color: $colorText;

  @media screen and (min-width: 1200px) {
    right: 16px;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

.hero__meter-num {
  display: block;
  margin-bottom: 4px;

  font-weight: 900;
  font-size: 28px;
  line-height: calc(34 / 28);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $colorBlack;

  @media screen and (min-width: 1200px) {
    font-size: 46px;
    line-height: calc(56 / 46);
  }
}

///////////////////////
// pictures
///////////////////////

.hero__pic {
  &-dots {
    position: absolute;
    bottom: 0;
    left: 0;

    animation: bottom-to-top 0.5s ease 0.3s both;

    @media screen and (min-width: 1200px) {
      animation: bottom-to-top 0.5s ease 0.5s both;
    }
  }

  &-cone {
    position: absolute;
    bottom: 0;
    left: 83px;
    z-index: 1;

    animation: bottom-to-top 0.5s ease 0.3s both;

    @media screen and (min-width: 768px) {
      animation: bottom-to-top 0.8s ease 0.1s both;
      left: 408px;
    }

    @media screen and (min-width: 1200px) {
      animation: bottom-to-top 1s ease 0.5s both;
      left: 652px;
    }
  }

  &-plate {
    position: absolute;
    bottom: 10px;
    left: 32px;
    z-index: 1;

    animation: bottom-to-top 0.7s ease 0.3s both;

    @media screen and (max-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      bottom: 63px;
      left: 16px;
      animation: bottom-to-top 0.7s ease 0.5s both;
    }
  }
}
