.hero {
  margin: 0 auto;
  padding-top: 100px;
  height: 502px;

  background-color: $colorBackground;

  @media screen and (min-width: 320px) {
    min-width: 320px;
    //max-width: 320px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 83px;
    min-width: 768px;
    //max-width: 768px;
    height: 415px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    //max-width: 1200px;
    min-width: 1200px;
    height: 664px;
  }
}

///////////////////////
// bgi compos
///////////////////////

.hero__container {
  @extend .container;

  position: relative;
  height: 100%;

  background-repeat: no-repeat;

  background-image: url('../images/hero/icecream-cone-phone.png'),
    url('../images/hero/hero-dots-mobile.svg');
  background-position: bottom 0 left 60%, bottom 0 left 0;

  @include dpr(2) {
    background-image: url('../images/hero/icecream-cone-phone@2x.png'),
      url('../images/hero/hero-dots-mobile.svg');
    background-position: bottom 0 left 60%, bottom 0 left 0;
    background-size: 177px 217px, 100% 50px;
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/hero/icecream-plate-tablet.png'),
      url('../images/hero/icecream-cone-tablet.png'),
      url('../images/hero/hero-dots-tablet.svg');
    background-position: bottom 3% left 7%, bottom 0 right 19%, bottom 0 left 0;

    @include dpr(2) {
      background-image: url('../images/hero/icecream-plate-tablet@2x.png'),
        url('../images/hero/icecream-cone-tablet@2x.png'),
        url('../images/hero/hero-dots-tablet.svg');
      background-position: bottom 3% left 7%, bottom 0 right 19%,
        bottom 0 left 0;
      background-size: 152px 152px, 268px 329px, 100% 68px;
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url('../images/hero/icecream-plate-desktop.png'),
      url('../images/hero/icecream-cone-desktop.png'),
      url('../images/hero/hero-dots-desktop.svg');
    background-position: bottom 20% left 2%, bottom 0 right 10%, bottom 0 left 0;

    @include dpr(2) {
      background-image: url('../images/hero/icecream-plate-desktop@2x.png'),
        url('../images/hero/icecream-cone-desktop@2x.png'),
        url('../images/hero/hero-dots-desktop.svg');
      background-position: bottom 20% left 2%, bottom 0 right 10%,
        bottom 0 left 0;
      background-size: 225px 225px, 456px 560px, 100% 383px;
    }
  }
}

///////////////////////
// title
///////////////////////

.hero__title {
  width: 247px;

  font-family: 'Seymour One';
  font-size: 26px;
  line-height: calc(33 / 26);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $colorText;

  &-accent {
    @media screen and (max-width: 1199.98px) {
      font-size: 34px;
      line-height: calc(33 / 34);
    }
  }

  @media screen and (min-width: 1200px) {
    width: 367px;
    font-size: 38px;
    line-height: calc(48 / 38);
  }
}

///////////////////////
// buttons
///////////////////////

.hero__btns {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 32px;

  @media screen and (min-width: 768px) {
    margin-top: 24px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 28px;
  }
}

.hero {
  &__btn-prods {
    @include btn-sec('mobile');

    @media screen and (min-width: 1200px) {
      @include btn-sec();
    }
  }
}

.hero {
  &__btn-him {
    @include btn-tert('mobile');

    @media screen and (min-width: 1200px) {
      @include btn-tert();
    }
  }
}

///////////////////////
// about
///////////////////////

.hero__about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  margin-left: 190px;
  margin-top: 39px;
  width: 150px;

  font-size: 12px;
  line-height: calc(17 / 12);
  color: $colorText;

  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    gap: 24px;
    margin-left: 247px;
    margin-top: 109px;
    height: 120px;
    width: 220px;

    font-size: 14px;
    line-height: calc(20 / 14);
  }

  &-btn {
    @extend %btn;
    color: $colorText;

    &:hover,
    &:focus-visible {
      color: $colorBlack;
    }
  }

  &-icon {
    width: 40px;
    height: 16px;
    fill: currentColor;
  }
}

///////////////////////
// meter
///////////////////////

.hero__meter {
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  position: absolute;
  top: 14px;
  right: 32px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 8px;
  line-height: calc(10 / 8);
  text-align: right;
  color: $colorText;

  @media screen and (min-width: 1200px) {
    right: 16px;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

.hero__meter-num {
  display: block;
  margin-bottom: 4px;

  font-weight: 900;
  font-size: 28px;
  line-height: calc(34 / 28);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $colorBlack;

  @media screen and (min-width: 1200px) {
    font-size: 46px;
    line-height: calc(56 / 46);
  }
}
