.ingredients {
  width: 280px;
  height: 968px;
  box-sizing: border-box;

  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  padding: 28px 20px;
  position: sticky;
  transform: translateY(0);
  opacity: 1;

  max-height: 92%;
  overflow-y: scroll;

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 996px;
    padding: 32px 40px;
  }
}

.ingredients__title {
  font-family: 'Seymour One';
  color: #131313;
  font-size: 20px;
  line-height: calc(28px / 20px);
  text-transform: none;

  margin-bottom: 27px;

  @media screen and (min-width: 768px) {
    margin-bottom: 31px;
  }
}

.Ingredients__illustration {
  display: inline-block;
  border-radius: 50%;

  margin-bottom: 13px;
  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
}
.green {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.yellow {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
}
.red {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}

.Ingredients__image {
  position: relative;
  top: -7px;
}
.calories {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 9px;
  color: #131313;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12px / 10px);

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: 320px;
    font-size: 12px;
    line-height: calc(15px / 12px);
    margin-bottom: 48px;
  }
}

.calories__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 53px;
  height: 72px;
  @media screen and (min-width: 768px) {
    width: 65px;
    height: 90px;
  }
  border-radius: 40px;
  text-align: center;

  padding-bottom: 8px;

  @media screen and (min-width: 768px) {
    padding-bottom: 15px;
  }
  &--green {
    border: 2px solid #9cbe8f;
  }
  &--yellow {
    border: 2px solid #efd478;
  }
  &--red {
    border: 2px solid #d6936d;
  }
}

.calories__weight {
  position: relative;
  top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  font-weight: 500;
  font-size: 10px;
  line-height: calc(28px / 10px);

  border-radius: 50%;
  width: 43px;
  height: 43px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(28px / 12px);
    width: 53px;
    height: 53px;
  }
}
.calories-green {
  background: #9cbe8f;
  border: 2px solid rgb(156, 190, 143);
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}
.calories-yellow {
  background: #efd478;
  border: 2px solid#EFD478;
  box-shadow: 0px 6px 20px rgba(214, 167, 15, 0.462);
}
.calories-red {
  background: #d6936d;
  border: 2px solid #d6936d;
  box-shadow: 0px 6px 20px rgba(181, 83, 25, 0.5);
}
.ingredients__dscr {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28px / 20px);
  padding-bottom: 24px;
}
.ingredients-list {
  margin: auto;
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    width: 488px;
    margin-bottom: 48px;
  }
}
.ingredients-list__product {
  text-align: left;
}
.ingredients-list__weight {
  text-align: right;
}
.ingredients-list__item:not(:last-child) {
  margin-bottom: 11px;
}
.ingredients-list__item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;

  letter-spacing: 0.04em;

  color: #131313;
}

// Форма
.input__form--product {
  @media screen and (max-width: 767px) {
    width: 368px;
    height: 42px;
  }
  @media screen and (min-widht: 768px) {
    width: 240px;
    height: 42px;
  }
}
.button_ingridients {
  margin-bottom: 0;
}
.input .btn-prim {
  @include btn-prim();
}

.btn-sec {
  @include btn-sec();
}
.btn-prim__franc {
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .btn-prim__franc {
    margin-bottom: 32px;
  }
}
