.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding-left: 20px;
  padding-right: 20px;

  padding-top: 12px;
  padding-bottom: 64px;

  overflow: auto;
  background-color: $colorBackground;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
  }

  transform: translateX(0);
  @include transition(transform);

  @media screen and (min-width: 1200px) {
    display: none;
  }

  &--hidden {
    transform: translateX(100%);
  }
}

///////////////////////
// header
///////////////////////

.mobile-menu__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 51px;
}

///////////////////////
// logo
///////////////////////

.mobile-menu__logo {
  width: 40px;
  height: 37px;

  color: $colorYellow;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
  }
}

///////////////////////
// close
///////////////////////

.mobile-menu__close {
  @extend %btn;

  margin-left: auto;
  width: 32px;
  height: 32px;

  color: $colorText;

  &:hover,
  &:focus-visible {
    color: $colorBlack;
  }
}

.mobile-menu__close-icon {
  width: 19px;
  height: 19px;
  fill: currentColor;
}

///////////////////////
// nav
///////////////////////

.mobile-menu__nav {
  // минимальный отступ до кнопки
  margin-bottom: 110px;

  font-weight: 700;
  font-size: 32px;
  line-height: calc(39 / 32);
  text-align: center;

  :not(:last-child) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(59 / 48);

    :not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.mobile-menu__nav-link {
  @extend %link;
  color: $colorText;

  &:hover,
  &:focus-visible {
    color: $colorBlack;
  }
}

///////////////////////
// buy now
///////////////////////

.mobile-menu {
  &__btn {
    @include btn-prim();

    margin-top: auto;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__btn-icon {
    width: 6px;
    height: 10px;
  }
}
